<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Dream School</title>
    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- ** Plugins Needed for the Project ** -->
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/plugins/bootstrap/bootstrap.min.css">
    <!-- slick slider -->
    <link rel="stylesheet" href="~/plugins/slick/slick.css">
    <!-- themefy-icon -->
    <link rel="stylesheet" href="~/plugins/themify-icons/themify-icons.css">
    <!-- animation css -->
    <link rel="stylesheet" href="~/plugins/animate/animate.css">
    <!-- aos -->
    <link rel="stylesheet" href="~/plugins/aos/aos.css">
    <!-- venobox popup -->
    <link rel="stylesheet" href="~/plugins/venobox/venobox.css">
    <!-- Main Stylesheet -->
    <link href="~/Content/style.css" rel="stylesheet">
    <!--Favicon-->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    <!-- jQuery -->
    <script src="~/plugins/jQuery/jquery.min.js"></script>
</head>
<body>
    <!-- header -->
    <header class="fixed-top header">
        <!-- top header -->
        <div class="top-header py-2 bg-white">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-lg-4 text-center text-lg-left">
                        <a class="text-color mr-3" href="callto:+443003030266"><strong>CALL</strong> +44 300 303 0266</a>
                        <ul class="list-inline d-inline">
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-facebook"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-twitter-alt"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-linkedin"></i></a></li>
                            <li class="list-inline-item mx-0"><a class="d-inline-block p-2 text-color" href="#"><i class="ti-instagram"></i></a></li>
                        </ul>
                    </div>
                    <div class="col-lg-8 text-center text-lg-right">
                        <ul class="list-inline">
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="~/Home/Notices">notice</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="~/Home/Research">research</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="~/Home/Scholarship">SCHOLARSHIP</a></li>
                            <li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#loginModal">login</a></li>
                            @*<li class="list-inline-item"><a class="text-uppercase text-color p-sm-2 py-2 px-0 d-inline-block" href="#" data-toggle="modal" data-target="#signupModal">register</a></li>*@
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- navbar -->
        <div class="navigation w-100">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light p-0">
                    <a class="navbar-brand" href="~/Home/Index"><img src="~/images/logo.png" alt="logo"></a>
                    <button class="navbar-toggler rounded-0" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="true" aria-label="Toggle navigation" style="
    background-color: white;
">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navigation">
                        <ul class="navbar-nav ml-auto text-center">
                            <li id="NavLinkHome" class="nav-item">
                                <a class="nav-link" href="~/Home/Index">HOME</a>
                            </li>
                            <li id="NavLinkAbout" class="nav-item">
                                <a class="nav-link" href="~/Home/About">ABOUT</a>
                            </li>
                            <li id="NavLinkCourses" class="nav-item">
                                <a class="nav-link" href="~/Home/Courses">COURSES</a>
                            </li>
                            <li id="NavLinkEvents" class="nav-item">
                                <a class="nav-link" href="~/Home/Events">EVENTS</a>
                            </li>
                            @*<li class="nav-item @@blog">*@
                            <li id="NavLinkBlog" class="nav-item">
                                <a class="nav-link" href="~/Home/Blog">BLOG</a>
                            </li>
                            <li class="nav-item dropdown view">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false">
                                    Pages
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="~/Home/Teachers">Teacher</a>
                                    <a class="dropdown-item" href="~/Home/ViewTeacher">Teacher Single</a>
                                    <a class="dropdown-item" href="~/Home/Notices">Notice</a>
                                    <a class="dropdown-item" href="~/Home/ViewNotice">Notice Details</a>
                                    <a class="dropdown-item" href="~/Home/Research">Research</a>
                                    <a class="dropdown-item" href="~/Home/Scholarship">Scholarship</a>
                                    <a class="dropdown-item" href="~/Home/ViewCourse">Course Details</a>
                                    <a class="dropdown-item" href="~/Home/ViewEvent">Event Details</a>
                                    <a class="dropdown-item" href="~/Home/ViewBlog">Blog Details</a>
                                </div>
                            </li>
                            <li id="NavLinkContact" class="nav-item">
                                @*<li class="nav-item @@contact">*@
                                <a class="nav-link" href="~/Home/Contacts">CONTACT</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- /header -->
    <!-- Modal -->
    @*<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content rounded-0 border-0 p-4">
                    <div class="modal-header border-0">
                        <h3>Register</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="login">
                            <form action="#" class="row">
                                <div class="col-12">
                                    <input type="text" class="form-control mb-3" id="signupPhone" name="signupPhone" placeholder="Phone">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control mb-3" id="signupName" name="signupName" placeholder="Name">
                                </div>
                                <div class="col-12">
                                    <input type="email" class="form-control mb-3" id="signupEmail" name="signupEmail" placeholder="Email">
                                </div>
                                <div class="col-12">
                                    <input type="password" class="form-control mb-3" id="signupPassword" name="signupPassword" placeholder="Password">
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">SIGN UP</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content rounded-0 border-0 p-4">
                <div class="modal-header border-0">
                    <h3>Login</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="alert alert-danger"></div>


                    @*<div class="col-12">
                            <input type="text" class="form-control mb-3" id="loginPhone" name="loginPhone" placeholder="Phone">
                        </div>*@
                    <div class="col-12">
                        <input type="text" class="form-control mb-3" id="loginUserName" name="loginUserName" placeholder="UserName" required>
                    </div>
                    <div class="col-12">
                        <input type="password" class="form-control mb-3" id="loginPassword" name="loginPassword" placeholder="Password" required>
                    </div>
                    <div class="col-12">
                        <button type="submit" onclick="login()" class="btn btn-primary">LOGIN</button>
                    </div>

                </div>
            </div>
        </div>
    </div>


    @RenderBody()

    <!-- footer -->
    <footer>
        <!-- newsletter -->
        <div class="newsletter">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 ml-auto bg-primary py-5 newsletter-block">
                        <h3 class="text-white">Subscribe Now</h3>
                        <form action="#">
                            <div class="input-wrapper">
                                <input type="email" class="form-control border-0" id="newsletter" name="newsletter" placeholder="Enter Your Email...">
                                <button type="submit" value="send" class="btn btn-primary">Join</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer content -->
        <div class="footer bg-footer section border-bottom" style="padding-bottom:30px;padding-top: 110px">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-8 mb-5 mb-lg-0">
                        <!-- logo -->
                        <a class="logo-footer" href="~/Home/Index"><img class="img-fluid mb-4" src="~/images/logo.png" alt="logo"></a>
                        <ul class="list-unstyled">
                            <li class="mb-2">Sector -1 , Ambala</li>
                            <li class="mb-2">+919307777704</li>
                            <li class="mb-2">Vinayprataprana@gmail.com</li>
                        </ul>
                    </div>
                    <!-- company -->
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                        <h4 class="text-white mb-5">COMPANY</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a class="text-color" href="~/Home/About">About Us</a></li>
                            <li class="mb-3"><a class="text-color" href="~/Home/Teachers">Our Teacher</a></li>
                            <li class="mb-3"><a class="text-color" href="~/Home/Contacts">Contact</a></li>
                            <li class="mb-3"><a class="text-color" href="~/Home/Blog">Blog</a></li>
                        </ul>
                    </div>
                    <!-- links -->
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                        <h4 class="text-white mb-5">LINKS</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a class="text-color" href="~/Home/Courses">Courses</a></li>
                            <li class="mb-3"><a class="text-color" href="~/Home/Events">Events</a></li>
                        </ul>
                    </div>
                    <!-- support -->
                    <div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                        <h4 class="text-white mb-5">SUPPORT</h4>
                        <ul class="list-unstyled">
                            <li class="mb-3"><a class="text-color" href="#">Forums</a></li>

                        </ul>
                    </div>
                    <!-- support -->
                    @*<div class="col-lg-2 col-md-3 col-sm-4 col-6 mb-5 mb-md-0">
                            <h4 class="text-white mb-5">RECOMMEND</h4>
                            <ul class="list-unstyled">
                                <li class="mb-3"><a class="text-color" href="#">WordPress</a></li>
                                <li class="mb-3"><a class="text-color" href="#">LearnPress</a></li>
                                <li class="mb-3"><a class="text-color" href="#">WooCommerce</a></li>
                                <li class="mb-3"><a class="text-color" href="#">bbPress</a></li>
                            </ul>
                        </div>*@
                </div>
            </div>
        </div>

    </footer>
    <!-- /footer -->
    <!-- Bootstrap JS -->
    <script src="~/plugins/bootstrap/bootstrap.min.js"></script>
    <!-- slick slider -->
    <script src="~/plugins/slick/slick.min.js"></script>
    <!-- aos -->
    <script src="~/plugins/aos/aos.js"></script>
    <!-- venobox popup -->
    <script src="~/plugins/venobox/venobox.min.js"></script>
    <!-- mixitup filter -->
    <script src="~/plugins/mixitup/mixitup.min.js"></script>
    <!-- google map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU&libraries=places"></script>
    <script src="~/plugins/google-map/gmap.js"></script>
    <!-- Main Script -->
    <script src="~/Scripts/script.js"></script>
    <script>

        function login() {
            var goodToGo = true;
            if ($('#loginUserName').val() == null || $('#loginUserName').val() == "") {
                goodToGo = false;
            }
            if ($('#loginPassword').val() == null || $('#loginPassword').val() == "") {
                goodToGo = false;
            }

            if (goodToGo) {

                $.ajax({
                    url: "@Url.Action("Login", "DashBoard")",
                    type: "POST",
                    data: { username: $("#loginUserName").val(), password: $("#loginPassword").val() },
                    success: function (result) {

                        if (result.response == 1) {
                            window.location.href = "@Url.Action("Index", "DashBoard")";
                        }
                        else {

                            $(".alert").html(result.data)
                            $(".alert").show();
                            setTimeout(function () { hideTarget(); }, 5000);
                        }
                    }
                });
            }
            else {
                $(".alert").html("Please enter your login credentials");
                $(".alert").show();
                setTimeout(function () { hideTarget(); }, 5000);


            }

        }

        function hideTarget() {
                                    $(".alert").hide();
        };
    </script>
    <style>

        .alert {
            display: none;
        }
    </style>
</body>
</html>

